@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 1em;
    color: #282928;
    font-family: helvetica;
    width: fit-content;
}

h1 {
    font-size: 4em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
}

h3,
p,
li {
    font-size: 1.25em;
}

h1,
h2,
h3 {
    font-family: 'PT Mono', monospace;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
}

p,
li {
    line-height: 28px;
    color: #888;
    font-weight: 100;
}

header {
    /* background-color: #3CA5B6; */
    border-bottom: solid 2px;
    padding-bottom: 1rem;
}

header li {
    list-style-type: none;
}


/* when scrolling down, these will be active*/

.header-smaller h1 {
    font-size: 1.5em;
}

.header-smaller h2 {
    display: none;
}


/* .header-smaller div section .header-date {
    display: none;
}

.header-smaller div section h1 {
    display: none;
} */


/* 
this hides the project title and the date on scroll */

.header-smaller section {
    display: none;
}

.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    padding-bottom: 0;
}

a {
    color: #282928;
    font-weight: 400;
    font-size: 1.25rem;
    display: inline;
}

a:hover,
a:focus {
    color: slateblue;
    /* text-decoration: underline slateblue 2px;
    text-underline-offset: 0.5rem; */
}

#curr-nav-item {
    color: slateblue;
}

.button {
    display: block;
    text-decoration: none;
    padding: 1em;
    border: 0;
    width: 100%;
    text-align: left;
    background-color: none;
    font-weight: 400;
    font-size: 1.25rem;
}

#menu-toggle {
    background-color: white;
    padding-bottom: 1em;
    padding-left: 0;
}

.button:hover,
.button:focus {
    color: slateblue;
}


/*
	Here we have added a simple class that will allow us to toggle the visibility of an element on (or off) for the purposes of showing and hiding our menu.
*/

.hidden {
    display: none;
}

.project-container {
    width: fit-content;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

.title {
    color: #282928;
    margin-top: 0.75rem;
    margin-bottom: 0;
    padding-left: 0rem;
}

.title:hover,
.title:focus {
    color: slateblue;
}

.date {
    display: block;
    margin-top: 0;
}

#my-pic {
    border-radius: 100%;
    width: 100%;
    padding: 5%;
}