.header-date {
    padding-left: 1rem;
}

.para p,
.para li {
    padding-left: 1rem;
}

.header-label {
    color: #282928;
    font-weight: 400;
    width: 6rem;
}

.para {
    margin-bottom: 3rem;
}

figcaption {
    text-align: center;
    color: #888;
}

.header-fixed .header-info-container {
    display: none;
}