.header-date {
    padding-left: 1rem;
}

.para p,
.para img,
.para a {
    padding-left: 1rem;
}

.header-label {
    color: #282928;
    font-weight: 400;
    width: 6rem;
}

.para {
    margin-bottom: 5rem;
}

.inner-para {
    margin-bottom: 2rem;
}

figcaption {
    text-align: center;
    color: #888;
}

.header-fixed .header-info-container {
    display: none;
}

.para img {
    width: 80%;
}

li {
    list-style-type: disc;
    margin-left: 4rem;
    margin-bottom: 0.5rem;
}

ul {
    padding: 0;
}

.project-h2 {
    font-size: 1.75em;
}